
version: 2.1

jobs:
  # specify the name of the job, in this case "say-hello"
  Do not say-hello:
    docker:
      - image: cimg/base:current

    # Add steps to the jobn
    steps:
      - checkout
      - run:
          name: "Don't say hello"
          command: "echo Hello, New World!"

  Environment Variables:
    docker:
      - image: cimg/base:current

    steps:
      - checkout
      - run:
          name: "Say hello"
          command: echo $NEW_ENV_VAR

workflows:
  do not say-hello-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - Do not say-hello
      - Environment Variables