
version: 2.1

commands:
  say-hello-command:
    description: "A command that says hello"
    parameters:
      id:
        type: string
        default: "World"
    steps:
      - run:
          name: "Say Hello"
          command: |
            echo "Hello, << parameters.id >>!"


  print-pipeline-id:    
    description: "A command that prints the pipeline ID"
    steps:
      - run:
          name: "Print Pipeline ID"
          command: |
            echo "Pipeline ID: $CIRCLE_PIPELINE_ID"

jobs:
  # specify the name of the job, in this case "say-hello"
  Do not say-hello:
    docker:
      - image: cimg/base:current

    # Add steps to the jobn
    steps:
      - checkout
      - run:
          name: "Don't say hello"
          command: "echo Hello, New World!"

  Environment Variables:
    docker:
      - image: cimg/base:current

    steps:
      - checkout
      - run:
          name: "Say hello"
          command: 
            echo $NEW_ENV_VAR

  Create text file:
    docker:
      - image: cimg/base:current

    steps:
      - checkout
      - run:
          name: "Create a text file"
          command: |
            echo "This is a sample text file." > sample.txt
      - persist_to_workspace:
          root: .
          paths:
            - sample.txt

  Read text file job:
    docker:
      - image: cimg/base:current

    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: "Read the text file"
          command: |
            cat sample.txt

  print-pipeline-id:
    docker:
      - image: cimg/base:current

    steps:
      - checkout
      - print-pipeline-id

workflows:
  do not say-hello-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - Do not say-hello
      - Environment Variables
      - Create text file
      - Read text file job:
          requires:
            - Create text file
      - print-pipeline-id